.home-container {
  width: 80%;
  margin-right: auto;
  margin-left: 5%;
}

.quiz-category::before {
  content: "             ";
  position: absolute;
  border-bottom: 5px solid black; /*use this to adjust underlin color and size*/
  width: 90%; /*use this to adjust underline width*/
  height: 1.1em; /*use this to adjust underline position*/
}
.category-container {
  display: flex;
  align-items: center;
}

.barthing {
  height: 50vh;
  width: 250px;
  max-width: 200px;
  margin-top: 50px;
  background-color: #0d2731;
  clip-path: polygon(26% 7%, 100% 0%, 74% 93%, 0% 100%);
  -webkit-clip-path: polygon(28% 15%, 100% 0%, 62% 100%, 0 100%);
}
.barthing-wrap {
  /* filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); */
}
.quiz-card {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 120px;
  margin-top: 2%;
  margin-left: 15px;
  align-items: center;
  color: white;
  padding: 10px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  border-bottom: 10px solid #858484;
  border-right: 8px solid #464646;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}
