.search-box {
  min-width: 100px;
  max-width: 600px;
  margin: auto;
  font-size: large;
  display: flex;
  flex-direction: column;
}
a {
  color: blue;
}
.search-bar {
  height: 30px;
  font-size: x-large;
}
.search-results {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
