.quiz-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.quiz-category {
  font-size: large;
  font-weight: 200;
}

.previewIcon {
  transition-duration: 0.3s;
  transform-origin: left top;
  width: 25px;
  justify-self: right;
}
.previewIcon:hover {
  transform: scale(1.5);
  cursor: pointer;
}
