.current-tab {
  text-decoration: underline;
  -webkit-box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
  -moz-box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
  box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
}
.header {
  width: 100%;
  padding-top: 60px;
}
.navbar {
  background-color: #30c0f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  position: fixed;
  z-index: 2;
}
text {
  color: white;
}
.navbar-content {
  padding: 10px;
  color: white;
  font-size: large;
}
a {
  color: black;
  text-decoration: none;
}

.navbar-content:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
  -moz-box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
  box-shadow: 0px 0px 2px 4px rgba(248, 104, 48, 1);
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
