.current-tab {
  text-decoration: underline;
}
.header {
  width: 100%;
  padding-top: 80px;
}
.navbar {
  background-color: #30c0f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  position: fixed;
  z-index: 2;
}

.navbar-content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
