.add-button {
  background-color: green;
  border: none;
  border-radius: 2%;
  color: white;
  padding: 5px;
  font-size: medium;
}
textarea {
  height: 50px;
  width: 300px;
  resize: none;
}
.input-container {
  display: flex;
  flex-direction: column;
}
