.quiz-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 220px;
  margin-top: 2%;
  margin-left: 15px;
  align-items: center;
}

.quiz-box-items {
  width: 300px;
  display: flex;
  justify-content: center;
}
