.inline {
  display: inline-flex;
}
.container-item {
  display: flex;
  align-items: center;
}
.quiz-component-container {
  display: flex;

  padding-bottom: 10px;
}
.selectable {
  background-color: #f86830;
  min-height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  max-width: 300px;
  color: white;
  min-width: 300px;
}
.result-container {
  display: flex;
  flex-direction: column;
}

.result-description {
  margin-top: 20px;
  text-align: center;
}
.arrow-down {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid rgb(126, 1, 1);
}

.results-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected {
  color: white;
  font-weight: 500;
  background-color: #f86830;
  min-height: 40px;
  border-radius: 8px;
  padding: 5px 5px;
  min-width: 300px;

  display: flex;
  justify-content: space-between;

  -webkit-box-shadow: 4px 7px 18px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 4px 7px 18px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 4px 7px 18px 5px rgba(0, 0, 0, 0.22);
}

.selectable:hover {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(21, 190, 237, 1);
  -moz-box-shadow: 0px 0px 6px 2px rgba(21, 190, 237, 1);
  box-shadow: 0px 0px 6px 2px rgba(21, 190, 237, 1);
}

.icon {
  transition-duration: 0.3s;
}
.icon:hover {
  transform: scale(1.5);
}
