.quiz-box {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 220px;
  margin-top: 2%;
  margin-left: 15px;
  align-items: center;
  background-color: #f86830;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.quiz-box-items {
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #0d2731;
}
